## TOP 20 PANDAS FUNCTIONS YOU AREN'T USING, WHICH YOU SHOULD BE USING

In this blog post, we will explore 20 powerful and somewhat unique Pandas functions that can significantly enhance your data analysis workflow. We will be using the famous Iris dataset as an example to demonstrate each function.

The Iris dataset contains four features: **Sepal Length**, **Sepal Width**, **Petal Length**, and **Petal Width**, along with their corresponding Iris species.

In [59]:
print("TOP 20 PANDAS FUNCTIONS YOU AREN'T USING, WHICH YOU SHOULD BE USING")

TOP 20 PANDAS FUNCTIONS YOU AREN'T USING, WHICH YOU SHOULD BE USING

In [60]:
# Installing Pandas
!pip3 install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [61]:
# Import sys and pandas
import sys
import pandas as pd

In [62]:
# Check versions of Python & Pandas
print(f"Python Version: {sys.version}")
print(f"Pandas Version: {pd.__version__}")

Python Version: 3.10.12 (main, Jun  7 2023, 12:45:35) [GCC 9.4.0]
Pandas Version: 1.5.3

In [63]:
# Load the Iris dataset
iris_df = pd.read_csv('iris_dataset.csv') # Github Repo

## `1. nunique()`

In [64]:
# Count unique species in the dataset
num_unique_species = iris_df['Species'].nunique()
print(num_unique_species)

3

## `map()`

In [65]:
# Create a mapping dictionary for flower colors
color_mapping = {
    'setosa': 'blue',
    'versicolor': 'orange',
    'virginica': 'purple'
}

# Map flower colors using the mapping dictionary
iris_df['Flower Color'] = iris_df['Species'].map(color_mapping)
iris_df[['Species', 'Flower Color']].head()

  Species Flower Color
0  setosa         blue
1  setosa         blue
2  setosa         blue
3  setosa         blue
4  setosa         blue

## `groupby()`

In [66]:
# Group the data by species and calculate the mean of sepal length
species_grouped = iris_df.groupby('Species')['sepal_length'].mean()

pd.DataFrame(species_grouped)

            sepal_length
Species
setosa             5.006
versicolor         5.936
virginica          6.588

## `pivot_table()`

In [67]:
# Create a pivot table to calculate the average petal length for each species based on sepal width
pivot_table = pd.pivot_table(
	iris_df,
	values='petal_length',
    index='Species',
    columns='sepal_width',
    aggfunc='mean')

pivot_table

sepal_width,2.0,2.2,2.3,2.4,2.5,2.6,2.7,2.8,2.9,3.0,...,3.4,3.5,3.6,3.7,3.8,3.9,4.0,4.1,4.2,4.4
Species,,,,,,,,,,,,,,,,,,,,,
setosa,NaN,NaN,1.3,NaN,NaN,NaN,NaN,NaN,1.400000,1.366667,...,1.566667,1.416667,1.2,1.5,1.675,1.5,1.2,1.5,1.4,1.5
versicolor,3.5,4.25,3.9,3.6,3.950,3.966667,4.24,4.4500,4.314286,4.437500,...,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
virginica,NaN,5.00,NaN,NaN,5.075,6.250000,5.10,5.4875,5.950000,5.533333,...,5.500000,NaN,6.1,NaN,6.550,NaN,NaN,NaN,NaN,NaN

## `cut()`

In [68]:
# Create three bins for sepal length: Short, Medium, and Long
sepal_length_bins = pd.cut(
	iris_df['sepal_length'],
	bins=[0, 5, 6.5, 10],
    labels=['Short', 'Medium', 'Long'])

pd.DataFrame(sepal_length_bins.head())

  sepal_length
0       Medium
1        Short
2        Short
3        Short
4        Short

## `melt()`

In [70]:
# Convert the DataFrame from wide to long format
melted_df = pd.melt(
	iris_df,
    id_vars='Species',
    value_vars=[
    	'sepal_length',
        'sepal_width',
        'petal_length',
        'petal_width'])

print(melted_df.head())

  Species      variable  value
0  setosa  sepal_length    5.1
1  setosa  sepal_length    4.9
2  setosa  sepal_length    4.7
3  setosa  sepal_length    4.6
4  setosa  sepal_length    5.0

## `apply()`

In [71]:
# Apply a lambda function to calculate the square of each Sepal Length value

iris_df['sepal_length_sqaured'] = iris_df['sepal_length'].apply(lambda x: x**2)
iris_df[['sepal_length', 'sepal_length_sqaured']].head()

   sepal_length  sepal_length_sqaured
0           5.1                 26.01
1           4.9                 24.01
2           4.7                 22.09
3           4.6                 21.16
4           5.0                 25.00

## `sort_values()`

In [72]:
# Sort the DataFrame by Sepal Length in descending order
sorted_df = iris_df.sort_values('sepal_length', ascending=False)

sorted_df.head()

,sepal_length,sepal_width,petal_length,petal_width,Species,Flower Color,sepal_length_sqaured
131,7.9,3.8,6.4,2.0,virginica,purple,62.41
135,7.7,3.0,6.1,2.3,virginica,purple,59.29
122,7.7,2.8,6.7,2.0,virginica,purple,59.29
117,7.7,3.8,6.7,2.2,virginica,purple,59.29
118,7.7,2.6,6.9,2.3,virginica,purple,59.29

## `value_counts()`

In [73]:
# Count the occurrences of each species
species_counts = iris_df['Species'].value_counts()

print(species_counts)

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

## `fillna()`

In [74]:
# Fill missing values in the 'sepal_width' column with the mean value
iris_df['sepal_width'] = iris_df['sepal_width'].fillna(iris_df['sepal_width'].mean())

iris_df['sepal_width'].isnull().sum()

0

## `astype()`

In [75]:
# Convert the 'sepal_length' column to float
iris_df['sepal_length'] = iris_df['sepal_length'].astype(float)


iris_df['sepal_length'].dtype

dtype('float64')

## `duplicated()`

In [76]:
# Check for duplicate rows based on all columns
duplicates = iris_df.duplicated()

print(duplicates.sum())

3

## `drop_duplicates()`

In [77]:
# Remove duplicate rows based on all columns
deduplicated_df = iris_df.drop_duplicates()

print(deduplicated_df.shape[0])

147

## `str.contains()`

In [78]:
# Check if the 'Species' column contains the pattern 'versi'
contains_versi = iris_df['Species'].str.contains('versi')

contains_versi.head()

0    False
1    False
2    False
3    False
4    False
Name: Species, dtype: bool

## `str.replace()`

In [79]:
# Replace 'setosa' with 'SETOSA' in the 'Species' column
replaced_species = iris_df['Species'].str.replace('setosa', 'SETOSA')

replaced_species.head()

0    SETOSA
1    SETOSA
2    SETOSA
3    SETOSA
4    SETOSA
Name: Species, dtype: object

## `str.extract()`

In [80]:
# Extract the numeric part from the 'Species' column
numeric_species = iris_df['Species'].str.extract('(\d+)')

numeric_species.head()

     0
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

## `get_dummies()`

In [81]:
# Convert the 'Species' column into dummy variables
dummy_species = pd.get_dummies(iris_df['Species'])

dummy_species.head()

   setosa  versicolor  virginica
0       1           0          0
1       1           0          0
2       1           0          0
3       1           0          0
4       1           0          0

## `to_datetime()`

In [82]:
# Load the electric_production dataset
electric_df = pd.read_csv('electric_production.csv')

# Convert the 'Date' column to datetime and extract the year
electric_df['Date'] = pd.to_datetime(electric_df['Date'])
electric_df['Year'] = electric_df['Date'].dt.year
print(electric_df[['Date', 'Year']].head())

        Date  Year
0 1985-01-01  1985
1 1985-02-01  1985
2 1985-03-01  1985
3 1985-04-01  1985
4 1985-05-01  1985

## `resample()`

In [83]:
# Convert the 'Date' column to datetime and set it as the index
electric_df['Date'] = pd.to_datetime(electric_df['Date'])
electric_df.set_index('Date', inplace=True)

# Resample the data to monthly frequency and calculate the mean
monthly_mean = electric_df.resample('M').mean()
print(monthly_mean.head())

            Production    Year
Date
1985-01-31     72.5052  1985.0
1985-02-28     70.6720  1985.0
1985-03-31     62.4502  1985.0
1985-04-30     57.4714  1985.0
1985-05-31     55.3151  1985.0

## `to_csv()`

In [84]:
# Create a dummy dataset on flowers
flowers_data = {
    'Name': ['Rose', 'Lily', 'Tulip', 'Sunflower', 'Daisy'],
    'Color': ['Red', 'White', 'Pink', 'Yellow', 'White'],
    'Petals': [5, 6, 4, 10, 8],
    'Fragrance': ['Yes', 'Yes', 'No', 'No', 'Yes']
}

flowers_df = pd.DataFrame(flowers_data)

# Export the DataFrame as a CSV file
flowers_df.to_csv('flowers_dataset.csv', index=False)